.sidenav{
    padding: 20px 35px;
    width: 20%;
    border-right: 1px solid rgba(211,211,211,0.1);
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #bdbdc0;
    font-size: 18px;
}

.subheading{
    margin: 15px 0;
    color: #949494;
}
 span{
    color: #bdbdc0;
    font-size: 16px;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    align-items: center;
    margin: 6px 0;
    gap: 25px;
    cursor: pointer;
    width: 100%;
    padding: 6px;
    border: none;
}

.icon{
    color: #bdbdc0;
    background: none;
}

.brand{
    margin-bottom: 25px;
} 

.social_links{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    gap: 12px;
    text-align: center;
}

.line {
    width: 100%;
    text-align: center;
    height: 1px;
    background-color: grey;
    margin: auto;
    margin-top: 25px;
}