.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px;
}

.inputs{
    width: 70%;
    position: relative;
}

.icon{
    position: absolute;
    top: 14px;
    left: 15px;
    background: none;
    font-size: 20px;
}


.input{
    width: 100%;
    border: 1.8px solid rgba(211, 211, 211, 0.7);
    padding: 12px;
    padding-left: 38px;
    border-radius: 17px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
}


.info{
    width: 30%;
}

.avatar{
    max-width: 17%;
    border: 3px solid rgba(160, 6, 160, 0.986);
    border-radius: 50%;
}

@media screen and (max-width: 700px) {
    .navbar{
        /* position: absolute;
        right: 0; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        /* margin-left: 20px; */
    }

    .inputs{
        width: 75%;
        margin-left: 35px;
    }

    .input{
        width: 100%;
        padding: 10px 33px;
    }
    .icon {
        position: absolute;
        top: 12px;
        left: 15px;
        background: none;
        font-size: 20px;
    }

    .info {
        max-width: 30%
    }

    .avatar{
        max-width: 40%;
    }

    
}