footer{
    width: 100%;
    margin-top: 100px;
}

.brand h2{
    text-align: left;
    margin-bottom: 20px;
}

.links_container{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    margin-bottom: 15px;
    width: 90%;
    gap: 80px;
}

.heading{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
}

li a{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.637);
}

.line{
    width: 90%;
    text-align: center;
    height: 1px;
    background-color: grey;
}

.links{
    width: 350px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    footer{
        width: 100%;
        margin: 30px auto;
    }


    .links_container{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
    }
    .brand h2{
        text-align: center;
        margin: auto;
    }

    .links{
        margin: 15px auto;
    }

    .line{
        margin: auto;
    }
}